#main-aside-wrapper {
display: flex;
flex-direction: row;
}
#main-aside-wrapper main, #main-aside-wrapper aside {
background-color: #ddd;
margin: 10px;
padding: 10px;
}
#main-aside-wrapper aside {
flex: 1;
order: 1;
}
#main-aside-wrapper main {
flex: 3;
order: 2;
}

html {
font-size: 10px;
}
body {
font-size: 12pt;
padding: 10px;
}
.page main, .page aside {
background-color: #ddd;
padding: 10px;
font-family: serif;
height: 100%;
}
h1 {
margin-top: 15px;
font-size: 2em;
font-weight: bold;
}
