body{
  margin:0;
}
.wide_block{
  width:100%;
  background-color:#ccc;
  padding:10px;
  height=120px;
}
.child_block{
  background-color:#ccc;
  padding:10px;
}
.left_img{
  float:left;
  margin:10px;
  width:100px;
  height:100px;
}
.restricted_block{
  max-width:800px;
  background-color:#ccc;
  margin: 0 auto;
  margin-top: 20px;
  padding:10px;
}
.some_block{
  width:100px;
  background-color:#ccc;
  margin:50px;
  padding:50px;
}
